<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.ActionLink("Dota 2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Heroes", "Heroes", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @RenderBody()
</body>
</html>