
@{
    ViewBag.Title = "Index";
}

<h2>Defence of the ancients</h2>
<hr />
<hr />
<div>
    @Html.ActionLink("Abaddon", "HeroDetails", "Home", new { index = 0 }, null)
    @Html.ActionLink("Invoker", "HeroDetails", "Home", new { index = 1 }, null)

</div>
<hr />
<hr />


<div>
    <div class="thecard">
        <div class="card-img">

            <img src="~/Content/img/ezgif-2-cdbeb911ff.gif" />
        </div>
        <div class="card-caption">
            <h1>Abaddon</h1>
            <p>
                Abaddon, the Lord of Avernus, is a melee strength hero known as one of the most versatile characters in Dota due to his rather low mana dependence, short spell cooldowns and a large number of viable item choices.
            </p>
        </div>
        @Html.ActionLink("Read more", "Abaddon", "Home", new object { }, new { @class = "card-outmore" })
        </a>
    </div>

    <div class="thecard">
        <div class="card-img">


            <img src="~/Content/img/ezgif-2-68ad6cdb18.gif" />
        </div>
        <div class="card-caption">
            <h1>Terror Blade</h1>
            <p>
                Terrorblade the Demon Marauder is a melee agility hero who grows to a devastating carry in the later stages of the game. Terrorblade has the highest starting armor in the game, but is squishy due to his low health,
            </p>
        </div>
        @Html.ActionLink("Read more", "Abaddon", "Home", new object { }, new { @class = "card-outmore" })
    </div>

    <div class="thecard">
        <div class="card-img">

            <img src="~/Content/img/ezgif-2-4aaa8c0fd9.gif" />
        </div>
        <div class="card-caption">
            <h1>Outworld Devourer</h1>
            <p>
                Harbinger, the Outworld Devourer, is a ranged intelligence hero who qualifies as a carry, though unlike traditional carries, he excels against high-armor targets whilst being crippled by spell immunity. With Arcane Orb, his damage output
            </p>
        </div>
        @Html.ActionLink("Read more", "Abaddon", "Home", new object { }, new { @class = "card-outmore" })
    </div>

    <div class="thecard">
        <div class="card-img">
            <img src="~/Content/img/ezgif-2-623c6fcbcd.gif" />
        </div>
        <div class="card-caption">
            <h1>Invoker</h1>
            <p>
                Invoker is a ranged intelligence hero who is very difficult to master. He is unique in that he possesses a total of 14 abilities in his arsenal; three of them - Quas, Wex, and Exort - are reagents and one is his special ultimate Invoke.
            </p>
        </div>
        @Html.ActionLink("Read more", "Abaddon", "Home", new object { }, new { @class = "card-outmore" })
    </div>
</div>

@*<a target="_blank" href="https://www.behance.net/doonnnx">
        <div class="thecard">
            <div class="card-img">

                <img src="~/Content/img/ezgif-2-68ad6cdb18.gif" />
            </div>
            <div class="card-caption">
                <i id="like-btn" class="fa fa-thumbs-o-up"></i>
                <span class="date">Thursday, July 16, 2015</span>
                <h1>The standard chunk of Lorem Ipsum</h1>
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
            </div>
            <div class="card-outmore">
                <h5>Read more</h5>
                <i id="outmore-icon" class="fa fa-angle-right"></i>
            </div>
        </div>
    </a>*@